<div class="row match">
    <div class="column " ng-controller="MatchCtrl" ng-init="initialize('<%= @match.id %>')">
        <div class="row" ng-class="get_header_style()">
            <div class="medium-6 small-12 column match-header">

                <div class="row match-stats">
                    <!--<p class="time">~{{ get_time_minutes() }}:{{ round_time % 60 | digits }}</p>-->
                    <p>Game status: {{ game_status }}</p>
                    <p class="rounds">Map: {{ matchinfo.map }}
                    <p class="rounds">Round: {{get_round()}}/30</p>
                </div>
                <div class="row score">
                    <div class="small-6 column">
                        <p class="ct-score">{{ get_ct_team().score }}</p>
                    </div>
                    <div class="small-6 column">
                        <p class="t-score">{{ get_t_team().score }}</p>
                    </div>
                </div>
                <div class="row teams">
                    <div class="small-6 column ct-team">
                        <p class="cterrorist">{{ get_ct_team().name }} </p>
                    </div>
                    <div class="small-6 column  t-team">
                        <p class="terrorists">{{ get_t_team().name }}</p>
                    </div>
                </div>
            </div>
            <cs-players players="players"></cs-players>

        </div>
        <timeline time="time" game_over="game_over"></timeline>

        <div class="row kill-box">
            <div class="small-12 large-6 column">
                <h3>Current round kills</h3>

                <div ng-repeat="event in killbox">
                    <div class="animated fadeInDown row kill">
                        <p class="small-4 column" ng-class="getPlayerSide(event.player)"> {{event.player}} </p>
                        <div class="small-4 column">
                            <img ng-src="/csgo/weapons/{{ event.weapon }}.png">
                        </div>
                        <p class="small-4 column" ng-class="getPlayerSide(event.killed)"> {{event.killed}} </p>
                    </div>
                </div>
                <div class="row kill" ng-show="killbox.length == 0">
                    <p>No kills right now...</p>
                </div>
            </div>

            <div class="small-12 large-6 column">
                <h3>Last rounds kills</h3>
                <div ng-repeat="event in last_round_kills">
                    <div class="animated fadeInDown row kill">
                        <p class="small-4 column" ng-class="getPlayerSide(event.player)"> {{event.player}} </p>
                        <div class="small-4 column">
                            <img ng-src="/csgo/weapons/{{ event.weapon }}.png">
                        </div>
                        <p class="small-4 column" ng-class="getPlayerSide(event.killed)"> {{event.killed}} </p>
                    </div>
                </div>
                <div class="row kill" ng-show="last_round_kills.length == 0">
                    <p>No kills last round.</p>
                </div>
            </div>

        </div>
    </div>
</div>
