<div class="row">
  <div class="column match" ng-controller="MatchCtrl" ng-init="initialize('<%= @match.id %>')">
    <div class="row" ng-class="get_header_style()">

      <div class="row match-stats">
        <!--<p class="time">~{{ get_time_minutes() }}:{{ round_time % 60 | digits }}</p>-->
        <p class="rounds">Round: {{get_round()}}/30</p>
      </div>
      <div class="row score">
        <div class="small-6 column">
          <p class="ct-score">{{ get_ct_team().score }}</p>
        </div>
        <div class="small-6 column">
          <p class="t-score">{{ get_t_team().score }}</p>
        </div>
      </div>
      <div class="row teams">
        <div class="small-6 column ct-team">
          <p class="cterrorist">{{ get_ct_team().name }} </p>
        </div>
        <div class="small-6 column  t-team">
          <p class="terrorists">{{ get_t_team().name }}</p>
        </div>
      </div>
    </div>

    <div class="row timeline">
      <div class="small-6 column ">
        <div class="progress" style="position:relative;">
          <span class="meter" ng-style="getTimelineElapsed()"></span>
          <div class="time-tooltip" ng-style="getTimelineTooltipPos()">{{ current_time | date : 'HH:mm:ss' }}</div>
        </div>

        <div class="current-time"></div>
        <p class="start-time">{{ start_time | date : 'HH:mm:ss' }}</p>

        <p class="end-time">{{ getEndTimeTimeline() }}</p>
      </div>
      <p class="small-3 column">Playback speed:</p>
      <div class="small-3 column">
        <select class="small column" ng-model="playback_speed">
          <option value="1">1x</option>
          <option value="2">2x</option>
          <option value="5">5x</option>
          <option value="10">10x</option>
        </select>
      </div>
    </div>


    <div class="row">
      <div class="players">
        <ul class="small-4 column players-list">
          <li ng-repeat="ct in counter_terrorists" ng-class="playerStyle(ct)">
          <p class="ct">{{ct.name}}</p>
          </li>
        </ul>
        <ul class="small-4 column players-list right">
          <li ng-repeat="t in terrorists" ng-class="playerStyle(t)">
          <p class="t">{{t.name}}</p>
          </li>
        </ul>
        <div class="medium-4 column kill-box" ng-repeat="event in killbox" class="animated fadeInDown">
          <div ng-repeat="event in killbox" class="animated fadeInDown row">
            <p class="small-4 column"> {{event.player}} </p>
            <p class="small-4 column"> {{ event.weapon }}</p>
            <p class="small-4 column"> {{event.killed}} </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
