<div class="row timeline">
    <div class="small-12 medium-6 column ">
        <div class="progress" style="position:relative;">
            <span class="meter" ng-style="getTimelineElapsed()"></span>
            <!--<div class="time-tooltip" ng-style="getTimelineTooltipPos()">{{ time.current_time | date : 'HH:mm:ss' }}</div>-->
        </div>

        <div class="current-time"></div>
        <p class="start-time">{{ time.start_time | date : 'HH:mm:ss' }}</p>

        <p class="end-time">{{ time.current_time | date : 'HH:mm:ss' }} / {{ getEndTimeTimeline() }}</p>
    </div>
    <div class="small-12 medium-3 column">
        <h4>Time Controlls</h4>

        <button class="button tiny" data-tooltip aria-haspopup="true" class="has-tip" title="Previous round" ><i class="fi-previous"></i></button>
        <button class="button tiny" data-tooltip aria-haspopup="true" class="has-tip" title="Next round"><i class="fi-next"></i></button>
        <button ng-click="time.pauseTimer()" class="button tiny" data-tooltip aria-haspopup="true" class="has-tip" title="Pause"><i class="fi-pause"></i></button>
        <button ng-click="time.startTimer()" class="button tiny" data-tooltip aria-haspopup="true" class="has-tip" title="Play"><i class="fi-play"></i></button>

    </div>
    <div class="small-12 medium-3 column speed">
        <h4>Playback speed</h4>
        <button ng-click="time.changePlaybackSpeed(1)" class="button tiny">x1</button>
        <button ng-click="time.changePlaybackSpeed(2)" class="button tiny">x2</button>
        <button ng-click="time.changePlaybackSpeed(5)" class="button tiny">x5</button>
        <button ng-click="time.changePlaybackSpeed(10)" class="button tiny">x10</button>

    </div>
</div>
