<div class="row about">
  <div class="small-12 about-livecsgo">
    <h2> <i class="fi-info"></i> About</h2>
    <p>LiveCSGO.com is a site to track Professional Counter-Strike: Global offensive games, live! Currently the site is in alpha an lacking alot of planned features. If you have any suggestion or feedback i'm more then happy to hear about it! Just contact me using the email below!</p>
    <blockquote>Ante W, Creator</blockquote>
    <h2><i class="fi-dollar-bill"></i> Donate</h2>
    <p>This is a hobby project and is developed on my free time, however Servers and equipment does cost money and if you want to support the project and want it to continue a small donation would be appriciated. It is however totally optinal but greatly appriciated!</p>

    <div class="small-12">
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYBoPzJ8TbDv8vp0Jl8hDGPl6mIZ2TEejF5s8zguJLbW9VYAx2oJRRa36nsEk3aQZ0NKWqtgDyFOBg1CgJuktbKfc/v/+EnUqVfR7+U8qUlsCfyYGUj/Nls0f0n8qzf1YRFVG5zjw8q/MuQpxBvrJCV6cTGNDgMsZyQ4j4yLTFLzvTELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIWLWmMC1WRtSAgZB8WBJPAm7ltt/VS8yK/xNirstKXrPvTnkmvRUSuk+tMo2d/Bc59oPFWMnX0om5wA838ljQZ5zMDqtdUb+Lt8Yy4S37zdAdqnhE4tt3Hz37gNBBIKV/9P95SwPokUVbEdGE9IJKuq7ckv+OFd/CKtBsa7/vu1eTnnLXvHoQWFiLGAJ+6+85u4NfHL83nB8KqA2gggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xNTA2MDgxNzM2NTJaMCMGCSqGSIb3DQEJBDEWBBRJAJBA1qYCJhRXmsBJ2f/Cyd2soTANBgkqhkiG9w0BAQEFAASBgJpfOepFC3gvyzdPBlqsm+i4V4XOgDvG52SLALe15aYv3H9pE6HeJ40lIm3LsatxQX7qRlB5E52sLIPhBsXboKZHaCx/FDTLE/QdbW8sp8TeNRrtcBSDi93oIfQYpE19LawQWQOlZLnrAUgJzGZlmq41PmgDB92zNI3XYRKVByaN-----END PKCS7-----
        ">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/sv_SE/i/scr/pixel.gif" width="1" height="1">
      </form>

    </div>
  </div>
  <div class="small-12">
    <h2><i class="fi-list"></i> Planned Features</h2>
    <ul class="planned-features">
      <li>Search by Tournaments/Teams</li>
      <li>Group BO3/BO5 games etc.. </li>
      <li>Rewind and new playback features</li>
      <li>Android &amp; iOS apps</li>
      <li>Track Teams and notifications on games</li>
    </ul>
  </div>

  <div class="small-12">
    <h2><i class="fi-mail"></i> Contact information</h2>
    <p class="email">info@livecsgo.com</p>
  </div>
</div>
