<div class="row about">
  <div class="small-12 about-livecsgo">
    <h2> <i class="fi-info"></i> About</h2>
    <p>LiveCSGO.com is a site to track Professional Counter-Strike: Global offensive games, live! Currently the site is in alpha an lacking alot of planned features. If you have any suggestion or feedback i'm more then happy to hear about it! Just contact me using the email below!</p>
    <blockquote>Ante W, Creator</blockquote>
    <h2><i class="fi-dollar-bill"></i> Donate</h2>
    <p>This is a hobby project and is developed on my free time, however Servers and equiepment does cost money and if you want to support the project and want it to continue a small donation would be appriciated. It is however totally optinal but greatly appriciated!</p>
  </div>
  <div class="small-12">
    <h2><i class="fi-list"></i> Planned Features</h2>
    <ul class="planned-features">
      <li>Search by Tournaments/Teams</li>
      <li>Group BO3/BO5 games etc.. </li>
      <li>Rewind and new playback features</li>
      <li>Android &amp; iOS apps</li>
      <li>Track Teams and notifications on games</li>
    </ul>
  </div>

  <div class="small-12">
    <h2><i class="fi-mail"></i> Contact information</h2>
    <p class="email">info@livecsgo.com</p>
  </div>
</div>
