// Place all the styles related to the match controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$ct-color: #9fcdfa;
$t-color: #b5aa62;

.match {
  margin: auto;
  text-align: center;
  .match-header {
    background-color: #37444d;
    padding: 12px;
    position: relative;
    .match-info {
      position: absolute;
      top: 0px;
      left: 12px;
      p {
        font-size: 2em;
        &.map {
          text-align: left;
        }
      }
    }
    .match-stats {
      p {
        margin: 5px 0;
        font-weight: bold;
        &.time {

        }
        &.rounds {
          font-weight: normal;
        }
      }
    }
    .score {
      p {
        color: white;
        font-weight: bold;
        font-size: 2em;
        &.ct-score {
          color: $ct-color;
        }
        &.t-score {
          color: $t-color;
        }
      }
    }
    .teams {
      .ct-team,
      .t-team {
        p {
          display: inline-block;
          margin: 0 10px;
          font-size: 2em;
          vertical-align: middle;
          &.terrorists {
            color: $t-color;
          }
          &.cterrorist {
            color: $ct-color;
          }
        }
      }
    }

  }
  .de_dust2 {
    background-image: image-url('maps/dust_2.png');
    background-size: cover;
    background-position: bottom;
  }
  .de_train {
    background-image: image-url('maps/de_train.png');
    background-size: cover;
    background-position: center;
  }
  .de_cache {
    background-image: image-url('maps/cache.png');
    background-size: cover;
    background-position: bottom;
  }
  .de_mirage {
    background-image: image-url('maps/de_mirage.png');
    background-size: cover;
    background-position: center;
  }
  .de_cbble {
    background-image: image-url('maps/de_cbble.png');
    background-size: cover;
    background-position: center;
  }
  .de_inferno {
    background-image: image-url('maps/de_inferno.png');
    background-size: cover;
    background-position: center;
  }
  .players {
    margin-bottom: 20px;
    ul {
      padding: 0;
      margin: 0;
      list-style: none;
      margin-bottom: 20px;
      &.left {
      }
      &.right {
        p {
          text-align: right !important;
        }
      }
      li {
        background-color: #464646;
        padding: 5px;
        position: relative;
        &.dead {
          p {
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; // IE8
            filter: alpha(opacity=30); // IE 5-7
            opacity: 0.3;
          }
          &:after {
            //content: image-url('dead_icon.png');
            //position: absolute;
            //margin-top: -27%;
            //margin-left: -5%;
          }
        }
        p {
          color: black;
          text-align: left;
          margin: 0 0 20px 0;
          font-size: 1em;
          padding: 5px;
          &.ct {
            background-color: $ct-color;
          }
          &.t {
            background-color: $t-color;
          }
        }
      }
    }
  }

  .kill-box {
    padding: 0;
    -webkit-transition: 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000) all;
    -moz-transition: 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000) all;
    -ms-transition: 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000) all;
    -o-transition: 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000) all;
    transition: 400ms cubic-bezier(0.645, 0.045, 0.355, 1.000) all;
    transition-property: all;
    transition-duration: .5s;
    opacity: 1;
    p {

      margin-top:10px;
      text-align: center;
      font-size: 0.7em;
    }
    img {
      padding: 1em 0 0 0;
    }
  }

  .timeline{
    padding: 10px;
    position: relative;
    .time-tooltip{
      position: absolute;
      width: 100px;
      height: 30px;
      line-height: 6px;
      padding: 10px;
      font-size: 14px;
      text-align: center;
      color: rgb(113, 157, 171);
      background: rgba(0, 0, 0, 0.7);
      border: 4px solid rgba(0, 0, 0, 0);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
      margin-left:-12px;
      margin-top: 5px;
      &:after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent rgba(0,0,0,.5) transparent;
        top: -23px;
        left: 0px;
      }
    }
    p{
      font-size: 1em;
      display: inline-block;
      &.start-time{
        float:left;
      }
      &.end-time{
        float:right;
      }
    }
    select{
      display: inline-block;
    }
  }
}
.animated { 
  -webkit-animation-duration: 0.5s; 
  animation-duration: 0.5s; 
  -webkit-animation-fill-mode: both; 
  animation-fill-mode: both; 
  -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
} 

@-webkit-keyframes fadeInDown { 
  0% { 
    opacity: 0; 
    -webkit-transform: translateY(-20px); 
  } 
  100% { 
    opacity: 1; 
    -webkit-transform: translateY(0); 
  } 
} 

@keyframes fadeInDown { 
  0% { 
    opacity: 0; 
    transform: translateY(-20px); 
  } 
  100% { 
    opacity: 1; 
    transform: translateY(0); 
  } 
} 

.fadeInDown { 
  -webkit-animation-name: fadeInDown; 
  animation-name: fadeInDown; 
}
